/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  section {
    padding: 20px;
  }
  
  input[type="text"],
  select {
    font-size: 16px;
    padding: 8px;
    margin-right: 10px;
  }
  
  input[type="text"][readonly],
  button {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    font-weight: bold;
    background-color: #f2f2f2;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  h6 {
    font-size: 12px;
  }
  
  /* Specific styles */
  #cantidad,
  #origen,
  #destino,
  #subtotal,
  #comision,
  #totalPagar {
    width: 150px;
  }
  
  #btnCalcular,
  #btnRegistrar {
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #btnRegistrar {
    background-color: #2196f3;
    margin-left: 10px;
  }
  
  #btnCalcular:disabled,
  #btnRegistrar:disabled {
    background-color: #ddd;
    color: #999;
    cursor: not-allowed;
  }
  
  #btnBorrar {
    font-size: 16px;
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #total {
    font-size: 24px;
    font-weight: bold;
  }
  